# Remove the line below if you want to inherit .editorconfig settings from higher directories
## root = true

# C# files
[*.cs]

dotnet_diagnostic.CS1591.severity = silent       # Missing XML comment for publicly visible type or member 'Type_or_Member'
